.main {
  width: 100%;
  height: 100vh;
  position: relative;

  .bg_video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 120%;
    z-index: -1;

    .bg_video-content-1 {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .bg_video-content-2 {
      display: none;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main_content {
    margin-top: 50px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: inline-block;
    border-radius: 60px;
    border: none;
    padding: 50px;
    box-shadow: 0 0 50px 70px rgba($color: #000000, $alpha: 0.5);

    .main_content-text {
      display: flex;
      align-items: center;
      svg {
        width: 40px;
      }
      p {
        color: #0cf;
        font-family: PT Sans;
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
      }
    }
    h1 {
      width: 700px;
      color: #fff;
      font-family: Playfair Display;
      font-size: 78px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 53px;
    }

    .main_btns {
      display: flex;
      gap: 14px;
    }
  }
}

@media screen and (max-width: 556px) {
  .bg_video-content-1 {
    display: none !important;
  }

  .bg_video-content-2 {
    display: block !important;
  }
}
