.footer {
  width: 100%;
  position: relative;

  .footer_bg {
    position: absolute;
    bottom: 0;
    width: 100%;

    .bg_wave1 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 464px;
      background-image: url("../../assets/bgFirst.png");
      background-size: cover;
      z-index: -1;
      animation: wave 5s infinite;
    }
    .bg_wave2 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 490px;
      background-size: cover;
      background-image: url("../../assets/bgSecond.png");
      z-index: -8;
      animation: wave 5s infinite 0.4s;
    }
    .bg_wave3 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 530px;
      background-size: cover;
      background-image: url("../../assets/bgThird.png");
      z-index: -10;
      animation: wave 5s infinite 0.8s;
    }
  }

  .top_button {
    position: fixed;
    bottom: 70px;
    right: 70px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    opacity: 0.7;
  }

  .footer_info {
    padding-top: 220px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 92px;

    button {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 24px 100px;
      border-radius: 5px;
      background: #fff;
      cursor: pointer;
      outline: none;
      border: none;
      transition: 0.5s all ease-in-out;

      &:hover {
        background: #13bbea;
        color: #fff;
      }
    }

    .navlinks {
      ul {
        list-style-type: none;
        text-align: center;

        li {
          padding: 12px 20px;
          transition: 0.2s all ease-in-out;
          cursor: pointer;

          a {
            text-decoration: none;
            color: white;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          &:hover {
            background-color: rgba($color: #fff, $alpha: 0.3);
            border: none;
            border-radius: 5px;
          }
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 22px;

      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .footer_bottom {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    p {
      color: #fff;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    ul {
      display: flex;
      gap: 40px;
      list-style-type: none;

      li {
        a {
          color: #fff;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;
        }
      }
    }
    a {
      color: #fff;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
  }
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: -40px;
  }
  50% {
    background-position-x: 0;
  }
  75% {
    background-position-x: -40px;
  }
  100% {
    background-position-x: 0;
  }
}
